.hs-media-navbar-top {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    position: fixed !important;
    top: 10px !important;
    left: 10px !important;
    right: 10px !important;
    height: 45px !important;
    padding: 5px !important;
    z-index: 100 !important;
}

.hs-media-navbar-left {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    position: fixed !important;
    top: 65px !important;
    left: 10px !important;
    bottom: 80px !important;
    width: var(--hs-media-navbar-left-width) !important;
    overflow-y: auto !important;
    z-index: 50 !important;
}
.hs-media-navbar-left:hover {
    width: 200px !important;
}
.hs-media-navbar-left:hover .hs-media-navbar-left-show {
    display: inline !important;
}

.hs-media-navbar-bottom {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    position: fixed !important;
    left:  10px !important;
    right:  10px !important;
    bottom:   10px !important;
    height: 60px !important;
    z-index: 100 !important;
}

.hs-media-content {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(3px) !important;
    backdrop-filter: blur(3px) !important;
    position: absolute !important;
    top: 65px !important;
    left: calc(20px + var(--hs-media-navbar-left-width)) !important;
    right: 10px !important;
    bottom: 80px !important;
    z-index: 1 !important;
}

.hs-media-search {
    height: 35px !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 10px !important; 
    max-width: 600px !important;
    transform: translate(-50%) !important;
    margin-left: 50% !important;
}

.hs-media-navbar-left-show {
    display: var(--hs-media-navbar-left-show) !important;
}

#hs-media-played-titel {
    height: 60px !important;
    border-radius: 10px !important;
    background-color: var(--hs-bl-001) !important;
}

@-webkit-keyframes hs-media-played-titel-pogressbar-inner {
    0%  {background-color: var(--hs-bg-001)}
    10%  {background-color: var(--hs-bg-002)}
    18%  {background-color: var(--hs-bg-003)}
    28%  {background-color: var(--hs-bg-004)}
    36%  {background-color: var(--hs-bg-005)}
    44%  {background-color: var(--hs-bg-006)}
    54%  {background-color: var(--hs-bg-007)}
    64%  {background-color: var(--hs-bg-008)}
    72%  {background-color: var(--hs-bg-009)}
    80%  {background-color: var(--hs-bg-010)}
    90%  {background-color: var(--hs-bg-011)}
    100%  {background-color: var(--hs-bg-012)}
}

.hs-media-button {
    min-height: 200px !important;
    min-width: 200px !important;
    border-radius: 50% !important;
    vertical-align: middle !important;
    height: 200px !important;
    display: table-cell !important;
    text-align: center !important;
}

/* Seitenbreite größer als 1001px */
@media (min-width: 1001px) {
    :root {
        --hs-media-navbar-left-width: 200px !important;
    }
}

/* Seitenbreite kleiner als 1000px */
@media (max-width: 1000px) {
    :root {
        --hs-media-navbar-left-width: 50px !important;
        --hs-media-navbar-left-show: none !important;
    }
}