.hs-media-navbar-top {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 50px !important;
    padding: 10px !important;
    overflow-x: auto !important;
}

.hs-media-navbar-left {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    position: fixed !important;
    top: 50px !important;
    left: 0 !important;
    bottom: 50px !important;
    width: var(--hs-media-navbar-left-width) !important;
    overflow-y: auto !important;
}

.hs-media-navbar-right {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    position: fixed !important;
    top: 50px !important;
    right: 0 !important;
    bottom: 50px !important;
}

.hs-media-navbar-bottom {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    height: 50px !important;
    z-index: 1 !important;
}

.hs-media-content {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(3px) !important;
    backdrop-filter: blur(3px) !important;
    position: absolute !important;
    top: 50px !important;
    left: var(--hs-media-navbar-left-width);
    right: 50px !important;
    bottom: 50px !important;
}

/* Seitenbreite größer als 1001px */
@media (min-width: 1001px) {
    :root {
        --hs-media-navbar-left-width: 200px !important;
    }
}

/* Seitenbreite kleiner als 1000px */
@media (max-width: 1000px) {
    :root {
        --hs-media-navbar-left-width: 50px !important;
    }
}